@font-face {
  font-family: "GT Flexa Mono Regular Trial";
  src: url("../fonts/GT-Flexa-Mono-Regular-Trial.otf");
}
@font-face {
  font-family: "GT Flexa Mono Medium Trial";
  src: url("../fonts/GT-Flexa-Mono-Medium-Trial.otf");
}
